[Unit]
Description=Homeflix service

[Service]
WorkingDirectory=%h/homeflix
ExecStart=/bin/bash -c "docker compose up"
ExecStop=/bin/bash -c "docker compose down"

[Install]
WantedBy=default.target
