[Unit]
Description=Uptime Kuma service

[Service]
WorkingDirectory=%h/uptime-kuma
ExecStart=/bin/bash -c "docker compose up"
ExecStop=/bin/bash -c "docker compose down"

[Install]
WantedBy=default.target
